<div [formGroup]="form">
  <label [attr.for]="controller.key">{{controller.Label}}</label>

  <div  #elementRef [ngSwitch]="controller.ControlType.toString()">
      
    <app-textbox *ngSwitchCase="Controls.TEXTBOX.toString()" [controller]="controller" [form]="form"></app-textbox>
    <app-dropdown *ngSwitchCase="Controls.DROPDOWN.toString()" [controller]="controller" [form]="form"></app-dropdown>
    <app-radiobutton *ngSwitchCase="Controls.RADIOBUTTON.toString()" [controller]="controller" [form]="form"></app-radiobutton>
    <app-checkbox *ngSwitchCase="Controls.CHECKBOX.toString()" [controller]="controller" [form]="form"></app-checkbox>

  </div>
  <div *ngIf="!isValid">
    <div  *ngFor="let error of errors">
      <div class="errorMessage" >{{errorMessage(error)}}</div>
    </div>
  </div>
</div>
